body{
    background-color: #F8F9FA;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown-toggle::after {
    display: none
}

.dropdown-menu[data-bs-popper] {

    left: -83px;
}

.bg-delete{
    background-color: #ff7675;
}
.bg-submit {
    background-color: #0984e3;
}
.cursor-pointer {
    cursor: pointer;
}

